@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
}
<h2>My Movie List</h2>
<p>Hello from our View Template! I created a folder inside of View titled "Helloworld", and inside that created an empty razor file titled the default "Index.cshtml"</p>