@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>This is the view template being returned from the Index method in Hello World Controller. Default action if an action is not specified in the URL.</p>
